    body {
    margin: 100px 150px 100px 80px;
    }

    h1 {
    margin: 10px 150px 10px 80px;
    }

    h2 {
    margin: 10px 150px 10px 80px;
    }

    h3 {
    margin: 10px 150px 10px 80px;
    }

    p {
    margin: 10px 350px 10px 80px;
    }

    form > p {
      margin: 10px 0px 10px 0px;
      font-size: 20px;
    }

    input, textarea, select {
      background-color: lightblue;
    }

    blockquote {
    max-width:500px;
    color: black;
    text-align: center; 
    font-size: 24px;
    margin:0 auto;
    background:orange;
    width:auto;
    display: table;
}

    form {
      background-color: #81a6e2;
      border: 3px dashed green;
      padding: 10px;
      margin-right: 200px;
      margin: 10px 350px 10px 80px;
    }

    table, td, tr, th {
      border: 2px solid blue;
      margin: 10px 350px 10px 80px;
    }

    .circle {
      border-radius: 50%;
    }